html {
    color-scheme: dark;
}
body {
    color:lightgrey;
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 750px;
    margin: auto;
}
th {
    color:antiquewhite;
    background-color: black;
}
th,td {
    padding: 5px;
}
tr:nth-child(even){
    background-color: #444444;
}
tr:nth-child(odd){
    background-color: #666666;
}
input[type=number]{
    width:50px;
    
}
p {
    margin: 5px;
  }


 
